asgiref
Brotli
certifi
cffi
channels
charset-normalizer
cryptography
cssselect2
defusedxml
distlib
Django
django-allauth
django-annoying
django-cors-headers
django-crispy-forms
django-extensions
django-filter
django-guardian
django-htmx
django-jsonstore
django-modeltranslation
django-viewflow
djangorestframework
filelock
fonttools
graphviz
idna
markdown-it-py
mdurl
mysql-connector-python
numpy
oauthlib
pandas
Pillow
pipenv
platformdirs
prettytable
protobuf
psycopg2
psycopg2-binary
pycparser
pydot
pydyf
pyfiglet
Pygments
PyJWT
pyparsing
pyphen
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
rich
six
sqlparse
tabulate
termcolor
tinycss2
tinyhtml5
tzdata
urllib3
validate-email
virtualenv
wcwidth
weasyprint
webencodings
websockets
zopfli
python-decouple
thefuzz
